.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.login-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error {
  color: red;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.register-link {
  margin-top: 2rem;
}